* {
    margin:30;
    padding:0;
    box-sizing: border-box;
}

.container {
    padding: 10px;
}

.topDisplay p {
float:right;    
}

.startingPage h1, p {
 text-align: center;
 justify-content: center;
}

.startingPage button {
    margin: auto;
    display: block;
    padding: 10px;
}

.startingPage{
    display: block;
 }

.startingPage.hidePage {
    display: none;
 }

 .questions {
    display: block;
 }

 .questions.hidePage {
    display: none;
 }
 
 .theEnd{
    display: block;
    text-align: center;
    justify-content: center;
 }

 .theEnd.hidePage {
    display: none;
 }

.question {
    text-align: center;
    justify-content: center;
}

 .questions button {
    margin: auto;
    display: block;
    padding: 10px;
    width: 800px;
    max-width: 80%;
  }
